/******************************************************************************************
     _                      _
    (_) _ __   ____  _ _   (_) _ __  __ _
    | |( '_ '\/ ,__)( '_'\ | |( '__)/'_' )
    | || | ) )\__, \| (_) )| || |  ( (_| |
    (_)(_) (_)(____/|  __/ (_)(_)   \__,_)
                    | |
                    (_)
    Inspira Digital Alterations - Main Style
    =============================================
******************************************************************************************/

h1.warning {
    display: none !important;
    opacity: 0;
}
#add-to-cart {
    background-color: rgb(217, 28, 92);
    background-repeat-x: ;
    background-repeat-y: ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    margin-top: 12px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 17px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    -webkit-border-image: ;
    color: #fff !important;
}
article header {
    text-transform: uppercase;
}

body{
    counter-reset:number;
}

#page-sidebar{
    width:300px;
}

#page-sidebar h1 a{
    color:#666666;
}

#page-sidebar h1 a::before{
    float:left;
    margin-top:-1px;
    margin-bottom:5px;
    color:#d91c5c;
    width:1.5em;
    height:1.5em;
    font-family:Oswald,sans-serif;
    counter-increment:number;
    content:counter(number)" ";
}
.box {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

#share-via-email .share-via-email-icon,#save-sample .save-sample-icon,#add-to-cart .add-to-cart-icon {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.colour-panel {
    max-height:150px;
}

.box div[title]:after{
    content: attr(title);
    position:relative;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:rgba(245, 245, 245, 0.9);
    text-shadow:1px 1px 1px rgba(50, 50, 50, 0.6);
    font-family:lato, sans-serif;
   
}
.colour-box{
    width:70px;
    height:70px;
    display:table;
}
.box div[title]{
    
    float:left;
    margin-bottom:8px;
    margin-right:8px
}
