/******************************************************************************************
     _                      _
    (_) _ __   ____  _ _   (_) _ __  __ _
    | |( '_ '\/ ,__)( '_'\ | |( '__)/'_' )
    | || | ) )\__, \| (_) )| || |  ( (_| |
    (_)(_) (_)(____/|  __/ (_)(_)   \__,_)
                    | |
                    (_)
    Inspira Digital Alterations - Main Style
    =============================================

    Contents
    - General
    - Cart Button
    - Side Bar
            - Drop down boxes
        - Colour panel
            - Colour swatch name allocations
        - Control Icons
            - Control icon images

******************************************************************************************/

/******************************** 
==========   GENERAL   ========== 
*********************************/

html {overflow: scroll !important;}

h1.warning {display: none !important; opacity: 0;}

#product-info {display:none;}

article header {text-transform: uppercase;}

body {counter-reset:number;}

/******************************** 
========== CART BUTTON ========== 
*********************************/

#add-to-cart {
    background-color: rgb(217, 28, 92);
    background-repeat-x: ;
    background-repeat-y: ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Oswald, sans-serif;
    font-size: 18px;
    margin-top: 12px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 17px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    -webkit-border-image: ;
    color: #fff !important;
}

#share-via-email .share-via-email-icon,#save-sample .save-sample-icon,#add-to-cart .add-to-cart-icon {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

/******************************** 
==========  SIDE BAR  ========== 
*********************************/

#page-sidebar{
    width:315px;
}

#page-sidebar h1 a{
    color:#666666;
}

#page-sidebar h1 a::before{
    float:left;
    margin-top:-1px;
    color:#d91c5c;
    width:1.5em;
    height:1.5em;
    font-family:Oswald,sans-serif;
    counter-increment:number;
    content:counter(number)" ";
}

.expando-out{
    background-image: url('../assets/pink-arrow.svg') !important;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 18px;
    height: 24px;
    padding: 10px 24px 0 0;
    box-sizing: border-box;
    top: 2px;
}

.box {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: none;
    box-shadow: 0;
    margin: 0px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
}

/* ------ dropdown boxes ------ */

.styled-select select, .styled-select{
    height:30px;
}

.styled-select{
    background-image: url('../assets/select-arrow.svg');
    background-size: 15px 15px;
    background-position: calc(100% - 5px) 50%;
}

.styled-select>.selected{
    vertical-align:middle;
    height: 30px;
    line-height:normal;
}

/* ========== COLOUR PANEL ========== */

.colour-panel {
    max-height:150px;
    border:1px solid #d5dbde;
}

.box div[title]:after{
    content: attr(title);
    position:relative;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:rgba(245, 245, 245, 0.9);
    text-shadow:1px 1px 1px rgba(50, 50, 50, 0.6);
    font-family:lato, sans-serif; 
}

.colour-box{
    width:60px;
    height:60px;
    display:inline-table;
}

.box div[title]{
    float:left;
    margin-bottom:8px;
    margin-right:8px
}

/* ------ colour swatch name allocations ------ */

div.colour-box[style]:after{
    position: relative;
    top:8px;
    display: block;
    text-align:center;
    vertical-align:middle;
    color:rgba(245, 245, 245, 0.9);
    text-shadow:1px 1px 1px rgba(50, 50, 50, 0.6);
    font-family:lato, sans-serif;
}

div.colour-box[style='background: rgb(255, 236, 0);']:after{content:'Canary Yellow';}
div.colour-box[style='background: rgb(255, 218, 0);']:after{content:'Sunflower';}
div.colour-box[style='background: rgb(255, 173, 8);']:after{content:'Mango Orange';}
div.colour-box[style='background: rgb(255, 103, 0);']:after{content:'Tangerine';}
div.colour-box[style='background: rgb(237, 57, 21);']:after{content:'Poppy Red';}
div.colour-box[style='background: rgb(226, 10, 10);']:after{content:'Tomato Red';}
div.colour-box[style='background: rgb(198, 5, 23);']:after{content:'Cherry Red';}
div.colour-box[style='background: rgb(168, 9, 5);']:after{content:'Brick Red';}
div.colour-box[style='background: rgb(153, 0, 51);']:after{content:'Burgundy';}
div.colour-box[style='background: rgb(255, 192, 192);']:after{content:'Pastel Pink';}
div.colour-box[style='background: rgb(255, 141, 193);']:after{content:'Baby Pink';}
div.colour-box[style='background: rgb(232, 0, 127);']:after{content:'Fuchsia Pink';}
div.colour-box[style='background: rgb(188, 8, 137);']:after{content:'Orchid Pink';}
div.colour-box[style='background: rgb(142, 45, 140);']:after{content:'Violet';}
div.colour-box[style='background: rgb(119, 2, 147);']:after{content:'Purple';}
div.colour-box[style='background: rgb(107, 57, 119);']:after{content:'Plum';}
div.colour-box[style='background: rgb(83, 86, 135);']:after{content:'Denim Blue';}
div.colour-box[style='background: rgb(38, 38, 117);']:after{content:'Royal Blue';}
div.colour-box[style='background: rgb(32, 75, 198);']:after{content:'Marine Blue';}
div.colour-box[style='background: rgb(91, 144, 239);']:after{content:'Medium Blue';}
div.colour-box[style='background: rgb(3, 157, 234);']:after{content:'Ocean Blue';}
div.colour-box[style='background: rgb(26, 188, 232);']:after{content:'Sky Blue';}
div.colour-box[style='background: rgb(151, 215, 255);']:after{content:'Baby Blue';}
div.colour-box[style='background: rgb(213, 239, 232);']:after{content:'Duck Egg Blue';}
div.colour-box[style='background: rgb(149, 178, 183);']:after{content:'Pastel Turquoise';}
div.colour-box[style='background: rgb(0, 160, 168);']:after{content:'Turquoise';}
div.colour-box[style='background: rgb(42, 196, 174);']:after{content:'Light Turquoise';}
div.colour-box[style='background: rgb(157, 234, 210);']:after{content:'Mint';}
div.colour-box[style='background: rgb(215, 242, 175);']:after{content:'Water Lily';}
div.colour-box[style='background: rgb(240, 255, 133);']:after{content:'Grape';}
div.colour-box[style='background: rgb(195, 239, 75);']:after{content:'Lime Green';}
div.colour-box[style='background: rgb(131, 216, 33);']:after{content:'Leaf Green';}
div.colour-box[style='background: rgb(22, 178, 84);']:after{content:'Pine Green';}
div.colour-box[style='background: rgb(0, 137, 39);']:after{content:'Emerald Green';}
div.colour-box[style='background: rgb(0, 88, 44);']:after{content:'Moss Green';}
div.colour-box[style='background: rgb(109, 127, 88);']:after{content:'Sage';}
div.colour-box[style='background: rgb(189, 198, 111);']:after{content:'Wasabi';}
div.colour-box[style='background: rgb(221, 207, 182);']:after{content:'Silk Grey';}
div.colour-box[style='background: rgb(255, 244, 215);']:after{content:'Ivory';}
div.colour-box[style='background: rgb(249, 237, 187);']:after{content:'Sand';}
div.colour-box[style='background: rgb(216, 109, 14);']:after{content:'Nut Brown';}
div.colour-box[style='background: rgb(165, 109, 71);']:after{content:'Tree Trunk Brown';}
div.colour-box[style='background: rgb(96, 57, 21);']:after{content:'Chocolate Brown';}
div.colour-box[style='background: rgb(236, 232, 228);']:after{content:'Mist Grey';}
div.colour-box[style='background: rgb(224, 224, 224);']:after{content:'Cloud Grey';}
div.colour-box[style='background: rgb(205, 209, 201);']:after{content:'Dove Grey';}
div.colour-box[style='background: rgb(186, 186, 186);']:after{content:'Cement Grey';}
div.colour-box[style='background: rgb(136, 137, 136);']:after{content:'Basalt Grey';}
div.colour-box[style='background: rgb(35, 31, 32);']:after{content:'Black';}
div.colour-box[style='background: rgb(175, 177, 180);']:after{content:'Silver';}
div.colour-box[style='background: rgb(168, 157, 52);']:after{content:'Gold';}
div.colour-box[style='background: rgb(255, 255, 255);']:after{content:'White';}

/* ========== CONTROL ICONS ========== */

.layer-controls>.resize-handle, .layer-controls.active>div, .layer-controls:hover>div {
    display:none;
}

table.controls{
    border:1px solid #d5dbde;
    margin: 10px auto 10px auto;
}

.controls td{
    padding: 5px 5px 40px 5px;
}


.controls button[title]:after{
    content: attr(title);
    text-align:center;
    position: relative;
    top:40px;
    font-family:lato,sans-serif;
    color:#666666;
}

.controls button.reset:after{
    display:table-cell;
    text-align:center;
    position:relative;
    left: -6px;
}

.controls button, .controls button.reset{
    width:40px;
    height:40px;
    border:none;
    background-size:80%;
    background-repeat:no-repeat;
    background-position:calc(50%) calc(50%);
}

.controls button:hover{
    outline: 1px dotted #d5dbde;
}

.controls button:focus{
    outline: 1px dotted #d5dbde;
}

/* ------ control icon images ------ */

.controls button.move-up {background-image: url('../assets/up-arrow.svg');}
.controls button.move-up:active {background-position: calc(50%) calc(50% - 2px);}

.controls button.move-down {background-image: url('../assets/down-arrow.svg');}
.controls button.move-down:active {background-position: calc(50%) calc(50% + 2px);}

.controls button.move-left {background-image: url('../assets/left-arrow.svg');}
.controls button.move-left:active {background-position: calc(50% - 2px) calc(50%);}

.controls button.move-right{background-image: url('../assets/right-arrow.svg');}
.controls button.move-right:active {background-position: calc(50% + 2px) calc(50%);}

.controls button.reset{background-image: url('../assets/reset-arrow.svg');}
.controls button.reset:active {background-size:50%;}

/*
.controls button.move-up:before{
    content:"Controls only work when text is entered";
    position:relative;
    display:inline-block;
    top:-15px;
    overflow: visible;
    width: 210px;
    height: 1em;
    text-align: left;
}
.controls button.move-up:after{
    top:30px;
}
*/
