/******************************************************************************************
     _                      _
    (_) _ __   ____  _ _   (_) _ __  __ _
    | |( '_ '\/ ,__)( '_'\ | |( '__)/'_' )
    | || | ) )\__, \| (_) )| || |  ( (_| |
    (_)(_) (_)(____/|  __/ (_)(_)   \__,_)
                    | |
                    (_)
    Inspira Digital Alterations - Main Style
    =============================================
******************************************************************************************/

h1.warning {
    display: none !important;
    opacity: 0;
}
main button.save {
    background-color: #b3b3b3 !important;
}
main section.top .a2c {
    background-color: rgb(217, 28, 92) !important;
}
main section.inside header {
    background-color: rgb(217, 28, 92) !important;
}
main section.bottom ul li {
    background-color: #666666 !important;
}
#main{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
   height: calc(100vh - 90px);
}
#main>#a2c-save {
    background-color:  rgb(217, 28, 92);
}
#main>#a2c-save>button {
    background-color:  rgb(217, 28, 92);
    font-family: Oswald, sans-serif;
    font-size: 18px;
    width:90%;
}
#main>#views button {
    background-color:rgb(102,102,102);
    font-family: lato,sans-serif;
}
#main>#tabs>div{
    background-color:rgb(102,102,102);
}
#main>#tabs>div>div{
    width:100%;
    margin:2px 0px 2px 0px;
    font-family:lato,sans-serif;
    background-color:rgb(102,102,102);
    background-image: url('../assets/white_arrow.png');
    background-repeat: no-repeat;
    background-position: 95%;
}

#main>#tabs>div>div>.icon.attribute-icon{
    display:none;
}

@media (min-width:50em) and (orientation:landscape){
    #main>#tabs{
    width:35%;
    float:right;
    }
}
#current-image-area-container div[data-bind="if: textArea().allow_rotate"]{
    display:none;
}
#pricing-summary{
    display:none;
}
