/******************************************************************************************

     _                      _
    (_) _ __   ____  _ _   (_) _ __  __ _
    | |( '_ '\/ ,__)( '_'\ | |( '__)/'_' )
    | || | ) )\__, \| (_) )| || |  ( (_| |
    (_)(_) (_)(____/|  __/ (_)(_)   \__,_)
                    | |
                    (_)

    Inspira Digital Alterations - Main Style
    =============================================

******************************************************************************************/

h1.warning {
    display: none !important;
    opacity: 0;
}
main button.save {
    background-color: #b3b3b3 !important;
}
main section.top .a2c {
    background-color: rgb(217, 28, 92) !important;
}
main section.inside header {
    background-color: rgb(217, 28, 92) !important;
}
main section.bottom ul li {
    background-color: #666666 !important;
}
#main>#a2c-save {
    background-color:  rgb(217, 28, 92);
}
#main>#a2c-save>button {
    background-color:  rgb(217, 28, 92);
    font-family: Oswald, sans-serif;
    font-size: 18px;
    width:90%;
}
#main>#views button {
    background-color:rgb(102,102,102);
    font-family: lato,sans-serif;
}
#main>#tabs>div{
    background-color:rgb(102,102,102);
}
#main>#tabs>div>div{
    width:100%;
    margin:2px 0px 2px 0px;
    font-family:lato,sans-serif;
    background-color:rgb(102,102,102);
    background-image: url(https://cdn.shopify.com/s/files/1/0148/8783/files/White_Arrow.png?15466030359615446190);
    background-repeat: no-repeat;
    background-position: 95%;
}
#main>#tabs>div>div>.icon.attribute-icon{
    display:none;
}
#main>#renderers {
    width:80%!important;
    Height:80% !important;
}
    #main>#renderers>canvas.rendering{
    width:100% !important;
    Height:auto !important;
}
@media (min-width:50em) and (orientation:landscape){
    #main>#tabs{
    width:35%;
    float:right;
    }
    #main>#renderers>canvas.rendering{
    width:100% !important;
    Height:auto !important;
    margin:auto auto 20px auto;
    }
    #main>#renderers {
    width:60%!important;
    Height:50%!important;
    margin:0 auto 0 0;
    }
}
